{
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 8
  },
  "rules": {
    "semi": "off",
    "arrow-parens": "off",
    "indent": "off",
    "comma-dangle": "off",
    "array-bracket-spacing": "off",
    "object-curly-spacing": "off",
    "require-jsdoc": "off"
  },
  "extends": [
    "eslint:recommended",
    "google"
  ]
}